#titles {
  font-size: 20px;
  color: #660000;
  top: 0%;
  width: 35%;
  height: 90%;
  background-color: white;
  text-align: center;
  display: block;
  padding: 10px;
  position: fixed;
  left: 35%;
}
#log{
  background-color: white;
  top: 30%;
  position: fixed;
  height: 35px;
  width: 95px;
  left: 49%;
}
#Crac{
  position: fixed;
  top: 40%;
  display: block;
  left: 49%;
  width: 95px;
  height: 35px;
}
#createtxt{
  display: none;
  position: fixed;
}
#createinput{
  display: none;
}
#usex{
  position: fixed;
  top: 32%;
  left: 50%;
}
#pass{
  position: fixed;
  top: 40%;
  left: 50%;
}
#mail{
  position: fixed;
  top: 48%;
  left: 50%
}
#fgtbtn{
  position: fixed;
  top: 50%;
  left: 49%;
  height: 35px;
  width: 95px;
}
#nametxt{
  position: fixed;
  top: 32%;
  left: 10%;
}
#passtxt{
  position: fixed;
  top: 40%;
  left: 10%;
}
#emailtxt{
  position: fixed;
  top: 48%;
  left: 10%;
}
#aze{
  display: none;
  position: fixed;
  top: 55%;
  left: 30%;
}
#agelb{
  position: fixed;
  display: none;
  top: 55%;
  left: 10%;
}
#loclb{
  position: fixed;
  display: none;
  top: 61%;
  left: 10%;
}
#loc{
  position: fixed;
  display: none;
  top: 61%;
  left: 50%;
}
#gentxt{
  display: none;
  position: fixed;
  top: 67%;
  left: 10%;
}
#gen{
  position: fixed;
  display: none;
  top: 67%;
  left: 50%;
}
#createbtn{
  position: fixed;
  display: none;
  top: 73%;
  left: 40%;
}
.error{
  border-color: #ff3860;
}












