#titles {
  font-size: 20px;
  color: #660000;
  top: 0%;
  width: 35%;
  height: 90%;
  background-color: white;
  text-align: center;
  display: block;
  padding: 10px;
  position: fixed;
  left: 35%;
}
#log{
  background-color: white;
  top: 30%;
  position: fixed;
  height: 35px;
  width: 95px;
  left: 49%;
}
#crac{
  top: 40%;
  margin: auto;
  display: block;
  position: fixed;
  left: 49%
